name: Metrics
on:
  # Schedule updates every 12 hours
  schedule: [{cron: "0 */12 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing to master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: SNDJ10
          template: classic
          base: header, community, repositories, metadata
          config_timezone: Asia/Kolkata
          
          # Plugin: Most Used Languages
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          
          # Plugin: Contributions Calendar (The 3D block look)
        # Plugin: Achievements
          plugin_achievements: no
